{% load static tailwind_tags %}
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
    <style>
        * {
           font-family: "Fraunces", serif;
        }
    </style>
</head>
<body class="bg-black text-white" x-data="{ isOpen: false } ">

    <!-- Menu Button -->
    <button @click="isOpen = !isOpen" class="gMenuBtn transform -rotate-90 fixed bottom-4 left-4 text-white font-bold z-20">
        <div class="flex items-center">
            <div class="text" x-text="isOpen ? 'CLOSE' : 'MENU'"></div>
        </div>
    </button>

    <!-- Menu Navigation -->
    <div x-show="isOpen" x-transition:enter="transition-opacity ease-out duration-300"
         x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
         x-transition:leave="transition-opacity ease-in duration-200"
         x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
         class="fixed inset-0 z-10 bg-black text-white p-10">
        <div class="mb-8">
            <div class="text-5xl font-serif">{{ user.username }}</div>
            <div class="text-3xl  font-serif ml-4">ILLUSTRATION</div>
            <div class="text-3xl font-serif ml-24 ">PORTFOLIO</div>
        </div>

        <ol class="space-y-8 text-4xl">
    <li><a href="{% url 'home' %}" class="hover:opacity-75">A. HOME</a></li>
    <li><a href="{% url 'profile' %}" class="hover:opacity-75">B. PROFILE</a></li>
    <li><a href="{% url 'submit_image' %}" class="hover:opacity-75">C. PROJECT SUBMIT</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'work_gallery' username=user.username %}" class="hover:opacity-75">D. ARTWORKS</a></li>
    {% endif %}
        </ol>


        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" class="mt-8">
                {% csrf_token %}
                <button type="submit" class=" text-white py-2 px-4 rounded text-2xl">Logout</button>
            </form>
        {% endif %}


    </div>

    <!-- Page Content Block -->
    <div class="container mx-auto px-4">
      {% block main %}
      <!-- Page content will be placed here -->
      {% endblock %}
    </div>

</body>
</html>

<script>
    const track = document.querySelector('.slider-track');

    function moveSlider(event) {
        const slider = document.querySelector('.slider');
        const rect = slider.getBoundingClientRect();
        const x = event.clientX - rect.left;
        const movePercent = x / slider.clientWidth;
        const moveMax = track.scrollWidth - slider.clientWidth;
        track.style.transform = `translateX(-${moveMax * movePercent}px)`;
    }
</script>
