{% extends 'base.html' %}

{% block main %}
  <div class="flex justify-center items-center h-screen bg-black">
    <div class="bg-gray-900 shadow-lg rounded-lg p-8 max-w-md w-full">
      <h2 class="text-2xl font-semibold text-center mb-6 text-white">Enter New Password</h2>

      <form method="POST" class="space-y-4">
        {% csrf_token %}
        <!-- New Password Input Field -->
        <div>
          <label for="new_password1" class="block text-white">New password</label>
          <input type="password" name="new_password1" id="new_password1" class="w-full p-3 bg-gray-800 text-white border border-gray-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-500"placeholder="Enter your new password">
        </div>

        <!-- Confirm Password Input Field -->
        <div>
          <label for="new_password2" class="block text-white">Confirm new password</label>
          <input type="password" name="new_password2" id="new_password2" class="w-full p-3 bg-gray-800 text-white border border-gray-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-500"placeholder="Confirm your password">
        </div>

        <!-- Submit Button -->
        <div class="text-center">
          <button type="submit" class="py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-200 ease-in-out">
            Change Password
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
